*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.Utils.PlayGround
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/java/com/kasianov/sergei/omaloma/Utils/PlayGround.kt
